.App {
  text-align: center;
}

.enter-meter-read {
  display: flex;
  flex-direction: column;
  height: 500px;
  padding: 100px
}

.image {
  height: 100px;
}

.container {
  flex-direction: initial;
}

.App-link {
  color: #61dafb;
}

.energy-links {
  width: 100%;
  justify-content: space-between;
}

